.App {
  text-align: center;
}

.App-logo {
  width:100%;
}

.header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.Category-title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Category-title h1 {
  font-size: 4em;
  color:#fff;
}

.Category-item {
  background-color: #940114;
  height: 320px;
  overflow: hidden;
  margin-top: 5px;
}

.Category-item img{
  opacity: 0.7;
  width:100%;
}

.Product-item {
  border: 1px solid #CCC;
}

.Product-item p.price{
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2em;
}
.Product-item p.ingredients{
  font-size: 0.8em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
