.App {
  text-align: center;
}

.App-logo {
  width:100%;
}

.header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.Category-title {
  display: inline;
  align-self: center;  
}

.Category-item img{
  width:100%;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
